.flaticon-collaboration:before {
	content: "\e001";
}
.flaticon-dish:before {
	content: "\e002";
}
.flaticon-confetti:before {
	content: "\e003";
}
.flaticon-play-button:before {
	content: "\e004";
}
.flaticon-address:before {
	content: "\e005";
}
.flaticon-car:before {
	content: "\e006";
}
.flaticon-hotel:before {
	content: "\e007";
}
.flaticon-double-angle-pointing-to-right:before {
	content: "\e008";
}
.flaticon-long-arrow-pointing-to-the-right:before {
	content: "\e009";
}
.flaticon-long-arrow-pointing-to-left:before {
	content: "\e00a";
}
.flaticon-speak:before {
	content: "\e00b";
}
